<header>
  <div class="flex h-20 bg-white">
    <div class="relative w-72 text-center self-center">
      <p class="text-3xl font-bold">La Cantarella</p>
      Un choeur en mouvement
    </div>
    <div class="flex w-full">
      <ul class="flex items-center justify-between w-full pl-8 pr-16">
        <li>
          <a class="text-blue-500" href="../a-propos/">Qui sommes-nous?</a>
        </li>
        <li>
          <a class="text-blue-500" href="../la-cantarella/">La Cantarella</a>
        </li>
        <li>
          <a class="text-blue-500" href="../home/">Actus et Concerts</a>
        </li>
        <li><a class="text-blue-500" href="../repertoire/">Répertoire</a></li>
        <li>
          <a class="text-blue-500" href="../partenaires/">La Cantarella aime</a>
        </li>
        <li><a class="text-blue-500" href="../contact/">Nous contacter</a></li>
      </ul>
    </div>
  </div>
</header>
